<style>
    .Catalogcontentup ul{
        margin: 15px;
    }
    .Catalogcontentup ul li{
        line-height: 22px;
    }
</style>
<!-- 路由参数：{{params}} -->
<div class="editingarea">
<div class="c_flex"><span class="c_flexible"></span></div>
<div class="c_editview">
    <div class="c_condition">
        <span><select><option>题干</option></select></span>
        <span class="pl5 " ><input type="text"></span>
        <span class="icon_add"><em class="icon_r" ng-click="add()">单个添加题目</em></span>
    </div>
    <div class="divtable">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablea">
            <tr>
                <td align="center" style="width: 50px;">题型</td>
                <td align="left">
                    <div class="chose" ><a href="#/AllSubject/a/0/b/{{params.b}}/c/0/d/0" class="{{params.a==0?'active3':''}}">全部</a>
                        <a href="#/AllSubject/a/{{type.id}}/b/{{params.b}}/c/{{params.c}}/d/{{params.d}}" class="{{params.a==type.id?'active3':''}}" ng-repeat="type in types">
                            {{type.realName}}
                        </a>

                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 50px;">难度</td>
                <td align="left">
                    <div class="chose" ><a href="#/AllSubject/a/0/b/0/c/0/d/0" class="{{params.b==0?'active3':''}}">全部</a>
                        <a href="#/AllSubject/a/0/b/{{level.id}}/c/0/d/0" class="{{params.b==level.id?'active3':''}}" ng-repeat="level in levels">{{level.realName}}</a>

                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 50px;">方向</td>
                <td align="left">
                    <div class="chose" ><a href="#" class="active3">全部</a>
                        <a href="#"  ng-repeat="department in departments">{{department.name}}</a>

                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 50px;">知识点</td>
                <td align="left">
                    <div class="chose" ><a href="#" class="active3">全部</a>
                        <a href="#"  ng-repeat="topic in topics">{{topic.title}}</a>

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="Catalog">

        <div class="Catalog_right">
            <div class="Catalogtitle">总计<em>15552</em>道题&nbsp;&nbsp;
                提示：单击体面可显示答案和解析&nbsp;&nbsp;
                <input type="checkbox" ng-model="isShow" /><b>显示答案和解析</b>&nbsp;&nbsp;
                <div><i>1</i><a href="#" class="pageone">前</a><a href="#" class="pagetwo">后</a></div></div>
            <div class="Catalog_rightnei"  ng-repeat="subject in subjects">
                <div class="Catalogtitwo">
                    题号：{{subject.id}}&nbsp;&nbsp;
                    题型：{{subject.subjectType.realName}}&nbsp;&nbsp;
                    难度：{{subject.subjectLevel.realName}}&nbsp;&nbsp;
                    上传人：{{subject.user}}&nbsp;&nbsp;
                    上传时间:{{subject.uploadTime}}&nbsp;&nbsp;
                </div>
                <div class="Catalogcontent">
                    <div class="Catalogcontentup" >
                        {{$index+1}}、{{subject.stem}}
                        <ul>
                            <li ng-repeat="choice in subject.choices">
                                {{choice.no}} {{choice.content}}
                            </li>
                        </ul>
                        <div ng-show="isShow">
                            <b>正确答案:{{subject.answer}}</b>
                        </div>
                    </div>
                    <div class="Catalogcontentdown">
                        <a href="#">审核通过</a>
                        <a href="#">审核不通过</a>
                        <a href="#">删除题目</a>
                        <a href="#">加入试卷</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>